doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fullcalendar.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.datetimepicker.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js")
    script(src="/javascripts/application.js")
    script(src="/javascripts/jquery.datetimepicker.full.min.js")
  body
    div(id="notification", style="color: blue")
    block content
