extends layout

block content
  h1= title
  div(id="calendar", data-calendar-id=calendar_id)
  script(type="text/javascript").
    $(document).ready(function() {
      display_calendar();
      $('#event-form input[name="starts"]').datetimepicker();
      $('#event-form input[name="ends"]').datetimepicker();

    });

  form(onsubmit="processEvent();return false;", id="event-form")
    div
      label name
      input(name="name")
    div
      label location
      input(name="location")
    div
      label starts
      input(name="starts")
    div
      label ends
      input(name="ends")
    input(type="submit", value="Submit")
