extends layout

block content
  h1= title
  div(id="calendar", data-calendar-id=calendar_id)
  script(type="text/javascript").
    $(document).ready(function() {
      display_calendar();
      $('#event-form input[name="starts"]').datetimepicker();
      $('#event-form input[name="ends"]').datetimepicker();

    });

  br

  div(id="display_event")
      p name: 
        span(id="event_name")
      p location: 
        span(id="event_location")
      p starts 
        span(id="event_starts")
      p ends 
        span(id="event_ends")

  form(onsubmit="processEvent();return false;", id="event-form")
    input(name="event_id", type="hidden", id="event_id")
    div
      label name 
      input(name="name")
    div
      label location 
      input(name="location")
    div
      label starts 
      input(name="starts")
    div
      label ends 
      input(name="ends")
    input(type="submit", value="Submit")
    button(text="Clear", onClick="clearEventFrom();") Clear
