extends layout

block content
  h1= title
  form(onsubmit="login();return false;", id="login")
    div
      label username
      input(name="username")
    div
      label password
      input(name="password", type="passowrd")
    input(type="submit", value="login")
  a(href="/register") Register
