body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#display_event, #event-form {
  border: 5px solid;
  padding: 5px;
  margin: 5px auto;
  width: 50%;
}

#calendar {
  width: 50%;
  margin: 0 auto;
}
