extends layout


block content
  script(type='text/javascript').
    getCalendars();

  h1= "Here are your calendars"

  div(id="calendars")
  <br/>
  <br/>
  <br/>
  
  form(onsubmit="createCalendar();return false;", id="new-calendar")
    div
      label Title 
      input(name="title")
      <br/>
      <br/>
    input(type="submit", value="Create Calendar")
